body{
	color: #000;
	font-family:Arial,Helvetica, sans-serif;
	font-size:16px;
	line-height:1.4em;
	margin:0; 
}

.container{
	width:80%;
	margin:0 auto;
	overflow:hidden;
}

/*header is here*/
.main-header{
	
	color:#000000;
}

/*Logo goes here*/
.main-header img{
	float: left;
	padding-right: 2px;
	top:2px;
}

.main-header h1{
	position:relative;
	top:20px;
	left:7px;
	font-size:22px;
}
/*button of log in and sign up goes here*/
.main-header button{
	float:right;
	margin-top: 30px;
	margin-right: 0px;
	padding-right:18px;
}

/*header::after{
	content:'';
	display:table;
	clear:both;
} */

/*horizontal navigation bar on the top*/

#navbar{

	color:#fff;
	width:100%;
	overflow: hidden;
}

#navbar ul{
	list-style: none;
}

#navbar li{
	display:inline-block;
	position:relative;
}


#navbar li {
	color:#fff;
	text-decoration: none;	
	text-transform:lowercase;
	margin-left: 50px;
	padding-top: 17px;
	padding-bottom: 5px;
	
}
#navbar a{
	color: #fff;
	font-size: 20px;

}


#navbar .nav-link:hover{
	background-color:#fff;
	color:#000;
	
}

#navbar a.active{
	background-color: #2196F3;
    color: white;
}

 #navbar input[type=text]{
	float: right;
    padding: 10px;
    border: none;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 16px;  
}

@media screen and (max-width: 600px) {
  .topnavbar a, .topnavbar input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnavbar input[type=text] {
    border: 1px solid #ccc;
  }
} 


/*search bar*/

.search {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom:375px;
  margin-left: 317px;
}

.searchTerm {
  float: right;
  width: 100%;
  border: 3px solid #606060;
  padding: 10px;
  height: 55px;
  border-radius: 5px;
  outline: none;
  color: #fff;
}

.searchTerm:focus{
  color: #606060;
}

.searchButton {
  position: absolute;  
  right: 2px;
  width: 60px;
  height: 55px;
  border: 1px solid #606060;
  background: #606060;
  text-align: center;
  color: #C0C0C0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#main-footer{
	color:##A04000;
	padding-top: 50px;
	position: relative;
	margin-top: 50px;
}


td.vcenter input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    vertical-align: middle;
    margin-left: 43px;
}


.pb-cmnt-container {
    font-family: Lato;
    margin-top: 15px;
    margin-left: 8px;
    padding-bottom: 8px;
}

.pb-cmnt-textarea {
    resize: none;
    padding: 35px;
    height: 100px;
    width: 100%;
    border: 1px solid #000;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}



::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


